:root {
	box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: $gray-darker;
}

section {
    padding: 6em 2em;
}

.section-pre-heading {
    color: $gray-light;
    text-transform: uppercase;
    text-align: center;
}

.section-heading {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    color: $gray-dark;
    letter-spacing: 2px;
    margin-bottom: .1em;
    text-align: center;
}

.section-key {
    background-image: url(../img/heading-img.svg);
    width: 142px;
    height: 13px;
    opacity: .5;
    margin: 0 auto 5em auto;
}






