
.header {
    //height: 100vh;
    background-image: url('../img/plain-bg.jpg');
    padding: 1em 2em;
    overflow: hidden;
    
    &__grid {
        height: calc(100vh - 2em);
        max-width: 1280px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 1fr;
    }
    
    &__nav {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 1em 0;
    }
    
    &__logo {
        
    }
    
    &__logo-link {
        
    }
    
    &__logo-img {
        width: 170px;
        height: auto;
    }
    
    /*why doesnt this stretch to its container*/
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    &__list::after {
        content: "";
        position: absolute;
        top: calc(100% + 2em);
        height: 3px;
        width: 100%;
        background-image: linear-gradient(to right, transparent, rgba($gray-light, .5), transparent);
    }
    
    &__item {
        
    }
    
    /*why doesnt the header__list stretch to its container*/
    &__item:not(:last-of-type) {
        margin-right: 4em;
    }
    
    &__link {
        font-family: 'Quicksand', sans-serif;
        color: inherit;
        text-transform: uppercase;
        font-weight: 500;
        position: relative;
        transition: all 350ms ease-out;
    }
    
    &__link:hover {
        color: $gray-darker;
    }
    
    &__link::before {
        content: "";
        position: absolute;
        height: 2px;
        left: 50%;
        right: 50%;
        top: -.75em;
        background-color: $pink;
        transition: all 350ms ease-out;
    }
    
    &__link:hover::before {
        left: 0;
        right: 0;
    }
    
    
    &__button {
        color: #fff;
        text-transform: uppercase;
        background-color: $gray;
        padding: .75em 1.75em;
        border-radius: 3px;
        transition: background-color 300ms ease-in;
    }
    
    &__button:hover {
        background-color: $gray-darker;
    }
    
    
    &__hero {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    
    &__hero-left {
        grid-column: 1 / 2;
        align-self: center;
    }
    
    /*why does adding spans increase the width so much?*/
    &__hero-heading {
        font-family: 'Quicksand', sans-serif;
        font-size: 7.5em;
        line-height: 1;
        color: $pink;
        letter-spacing: -10px;
    }
    
    &__hero-heading span {
        opacity: 0;
        display: inline-block;
    }
    
    &__hero-heading.loaded span {
        animation: fade_and_xform 1s both;
    }
    
     &__hero-heading.loaded span:first-of-type {
        animation-delay: 400ms;
     }
    
     &__hero-heading.loaded span:nth-of-type(2) {
        animation-delay: 900ms;
     }
    
     &__hero-heading.loaded span:nth-of-type(3) {
        animation-delay: 500ms;
     }
    
     &__hero-heading.loaded span:nth-of-type(4) {
        
     }
    
     &__hero-heading.loaded span:nth-of-type(5) {
        animation-delay: 500ms;
     }
    
     &__hero-heading.loaded span:nth-of-type(6) {
        animation-delay: 700ms;
     }
    
     &__hero-heading.loaded span:last-of-type {
        animation-delay: 1200ms;
     }
    
    
    &__hero-heading-secondary {
        font-family: 'Quicksand', sans-serif;
        font-size: 2.1em;
        color: $gray;
        text-transform: lowercase;
        font-weight: 300;
        margin-bottom: 2em;
        opacity: 0;
        transform: translateY(150%);
        transition: all 400ms ease-in;
    }
    
    &__hero-heading-secondary.fade-in {
        opacity: 1;
        transform: translateY(0);
    }
    
    
    &__hero-list {
        margin-bottom: 2.5em;
        opacity: 0;
        transform: translateY(150%);
        transition: all 500ms;
    }
    
    &__hero-list.fade-in {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 400ms;
    }
    
    &__hero-item {
        font-style: italic;
        position: relative;
        padding-left: 2em;
    }
    
    &__hero-item::before {
        position: absolute;
        content: '\f058';
        position: absolute;
        left: 0;
        font-family: 'FontAwesome'; 
        font-size: 1.5em;
        color: $gray-light;   
    }
    
    &__hero-item:not(:last-of-type) {
        margin-bottom: .75em;
    }
    
    &__hero-btn-wrap {
        opacity: 0;
        transform: translateY(150%);
        transition: all 500ms;
    }
    
    &__hero-btn-wrap.fade-in {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 800ms;
    }
    
    &__hero-btn {
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: .5em 1.75em;
        border-radius: 999em;
        transition: all 300ms ease-in;
    }
    
    &__hero-btn:first-of-type {
        background-color: $pink;
        margin-right: 1em;
        border: 1px solid transparent;
    }
    
    &__hero-btn:last-of-type {
        background-color: $gray;
        border: 1px solid $gray;
    }
    
    &__hero-btn:first-of-type:hover {
        background-color: $gray;
    }
    
    &__hero-btn:last-of-type:hover {
        background-color: $pink;
        border-color: $pink;
    }
    
    &__hero-right {
        grid-column: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    /*scale images so the grid does not expand horizonally and make the grid-left smaller*/
    &__hero-img {
        width: 200px;
        height: auto;
        transform: scale(1.6);
        transition: transform 2s;
    }
    
    &__hero-img:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: end;
        justify-self: end;
        transform: translate(300%, 600%) scale(1.6);
    }
    
    &__hero-img:nth-of-type(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        align-self: end;
        justify-self: start;
        transform: translate(400%, -50%) scale(1.6);
    }
    
    &__hero-img:nth-of-type(3) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        transform: translate(-60%, 450%) scale(1.6);
    }
    
    &__hero-img:nth-of-type(4) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
        align-self: center;
        justify-self: end;
        transform: translate(200%, 350%) scale(1.6);
    }
    
    &__hero-img:last-of-type {
        grid-column: 3 / 4;
        grid-row: 2 / 4;
        align-self: center;
        justify-self: start;
        transform: translate(-200%, 350%) scale(1.6);
    }
    
    &__hero-img.transform-in:first-of-type {
        
        transform: translate(0) scale(1.6);
    }
    
    &__hero-img.transform-in:nth-of-type(2) {
        transition-delay: 400ms;
        transform: translate(0) scale(1.6);
    }
    
    &__hero-img.transform-in:nth-of-type(3) {
        transition-delay: 600ms;
        transform: translate(0) scale(1.6);
    }
    
    &__hero-img.transform-in:nth-of-type(4) {
        transition-delay: 800ms;
        transform: translate(0) scale(1.6);
    }
    
    &__hero-img.transform-in:last-of-type {
        transition-delay: 300ms;
        transform: translate(0) scale(1.6);
    }
    

}


@keyframes fade_and_xform {
    
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    
    50% {
        opacity: .2;
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
    
    
}








